src/conf/xml-resources/web-service-references/IBudgerService/wsdl/localhost_8080/GestionDeBudget_Webservice/BudgetService/IBudgerService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="BudgetServiceService" targetNamespace="http://budget.service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://budget.service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://budget.service/" version="1.0" xmlns:tns="http://budget.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="chercherCat" type="tns:chercherCat"/>
<xs:element name="chercherCatResponse" type="tns:chercherCatResponse"/>
<xs:element name="chercherOpt" type="tns:chercherOpt"/>
<xs:element name="chercherOptResponse" type="tns:chercherOptResponse"/>
<xs:element name="creerOpt" type="tns:creerOpt"/>
<xs:element name="creerOptResponse" type="tns:creerOptResponse"/>
<xs:element name="creerPartage" type="tns:creerPartage"/>
<xs:element name="creerPartageResponse" type="tns:creerPartageResponse"/>
<xs:element name="listerCats" type="tns:listerCats"/>
<xs:element name="listerCatsResponse" type="tns:listerCatsResponse"/>
<xs:element name="listerDroits" type="tns:listerDroits"/>
<xs:element name="listerDroitsResponse" type="tns:listerDroitsResponse"/>
<xs:element name="listerOpts" type="tns:listerOpts"/>
<xs:element name="listerOptsResponse" type="tns:listerOptsResponse"/>
<xs:element name="listerPartage" type="tns:listerPartage"/>
<xs:element name="listerPartageResponse" type="tns:listerPartageResponse"/>
<xs:element name="modifierOpt" type="tns:modifierOpt"/>
<xs:element name="modifierOptResponse" type="tns:modifierOptResponse"/>
<xs:element name="obtenirDroit" type="tns:obtenirDroit"/>
<xs:element name="obtenirDroitResponse" type="tns:obtenirDroitResponse"/>
<xs:element name="supprimerOpt" type="tns:supprimerOpt"/>
<xs:element name="supprimerOptResponse" type="tns:supprimerOptResponse"/>
<xs:complexType name="listerCats">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerCatsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="supprimerOpt">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="supprimerOptResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chercherOpt">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chercherOptResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:operationDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="operationDetail">
<xs:sequence>
<xs:element minOccurs="0" name="categorie" type="xs:int"/>
<xs:element minOccurs="0" name="commentaire" type="xs:string"/>
<xs:element minOccurs="0" name="dateOp" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
<xs:element minOccurs="0" name="label" type="xs:string"/>
<xs:element minOccurs="0" name="montant" type="xs:double"/>
<xs:element minOccurs="0" name="montantPrevu" type="xs:double"/>
<xs:element minOccurs="0" name="opType" type="xs:int"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="obtenirDroit">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="obtenirDroitResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:droit"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="droit">
<xs:sequence>
<xs:element minOccurs="0" name="droit" type="xs:string"/>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creerOpt">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg5" type="xs:string"/>
<xs:element minOccurs="0" name="arg6" type="xs:string"/>
<xs:element name="arg7" type="xs:int"/>
<xs:element minOccurs="0" name="arg8" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creerOptResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:operationDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerOpts">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerOptsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifierOpt">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element name="arg2" type="xs:int"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element name="arg4" type="xs:double"/>
<xs:element minOccurs="0" name="arg5" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg6" type="xs:string"/>
<xs:element minOccurs="0" name="arg7" type="xs:string"/>
<xs:element name="arg8" type="xs:int"/>
<xs:element minOccurs="0" name="arg9" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="modifierOptResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:operationDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creerPartage">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element minOccurs="0" name="arg1" type="xs:string"/>
<xs:element name="arg2" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creerPartageResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:partage"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="partage">
<xs:sequence>
<xs:element minOccurs="0" name="actor" type="xs:string"/>
<xs:element name="droit" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chercherCat">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="chercherCatResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:categorie"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="categorie">
<xs:sequence>
<xs:element minOccurs="0" name="catNom" type="xs:string"/>
<xs:element minOccurs="0" name="catType" type="xs:int"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerPartage">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerPartageResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerDroits">
<xs:sequence/>
</xs:complexType>
<xs:complexType name="listerDroitsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="supprimerOptResponse">
    <wsdl:part element="tns:supprimerOptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerPartageResponse">
    <wsdl:part element="tns:creerPartageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chercherOpt">
    <wsdl:part element="tns:chercherOpt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenirDroit">
    <wsdl:part element="tns:obtenirDroit" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerPartageResponse">
    <wsdl:part element="tns:listerPartageResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chercherOptResponse">
    <wsdl:part element="tns:chercherOptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chercherCatResponse">
    <wsdl:part element="tns:chercherCatResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerOptsResponse">
    <wsdl:part element="tns:listerOptsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerPartage">
    <wsdl:part element="tns:creerPartage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerDroits">
    <wsdl:part element="tns:listerDroits" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerCats">
    <wsdl:part element="tns:listerCats" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="supprimerOpt">
    <wsdl:part element="tns:supprimerOpt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerDroitsResponse">
    <wsdl:part element="tns:listerDroitsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerCatsResponse">
    <wsdl:part element="tns:listerCatsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerOpt">
    <wsdl:part element="tns:creerOpt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifierOptResponse">
    <wsdl:part element="tns:modifierOptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerOpts">
    <wsdl:part element="tns:listerOpts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="modifierOpt">
    <wsdl:part element="tns:modifierOpt" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerOptResponse">
    <wsdl:part element="tns:creerOptResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="chercherCat">
    <wsdl:part element="tns:chercherCat" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerPartage">
    <wsdl:part element="tns:listerPartage" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="obtenirDroitResponse">
    <wsdl:part element="tns:obtenirDroitResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="IBudgetService">
    <wsdl:operation name="listerCats">
      <wsdl:input message="tns:listerCats" name="listerCats">
    </wsdl:input>
      <wsdl:output message="tns:listerCatsResponse" name="listerCatsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="supprimerOpt">
      <wsdl:input message="tns:supprimerOpt" name="supprimerOpt">
    </wsdl:input>
      <wsdl:output message="tns:supprimerOptResponse" name="supprimerOptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chercherOpt">
      <wsdl:input message="tns:chercherOpt" name="chercherOpt">
    </wsdl:input>
      <wsdl:output message="tns:chercherOptResponse" name="chercherOptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenirDroit">
      <wsdl:input message="tns:obtenirDroit" name="obtenirDroit">
    </wsdl:input>
      <wsdl:output message="tns:obtenirDroitResponse" name="obtenirDroitResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerOpt">
      <wsdl:input message="tns:creerOpt" name="creerOpt">
    </wsdl:input>
      <wsdl:output message="tns:creerOptResponse" name="creerOptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerOpts">
      <wsdl:input message="tns:listerOpts" name="listerOpts">
    </wsdl:input>
      <wsdl:output message="tns:listerOptsResponse" name="listerOptsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierOpt">
      <wsdl:input message="tns:modifierOpt" name="modifierOpt">
    </wsdl:input>
      <wsdl:output message="tns:modifierOptResponse" name="modifierOptResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerPartage">
      <wsdl:input message="tns:creerPartage" name="creerPartage">
    </wsdl:input>
      <wsdl:output message="tns:creerPartageResponse" name="creerPartageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chercherCat">
      <wsdl:input message="tns:chercherCat" name="chercherCat">
    </wsdl:input>
      <wsdl:output message="tns:chercherCatResponse" name="chercherCatResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerPartage">
      <wsdl:input message="tns:listerPartage" name="listerPartage">
    </wsdl:input>
      <wsdl:output message="tns:listerPartageResponse" name="listerPartageResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerDroits">
      <wsdl:input message="tns:listerDroits" name="listerDroits">
    </wsdl:input>
      <wsdl:output message="tns:listerDroitsResponse" name="listerDroitsResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BudgetServiceServiceSoapBinding" type="tns:IBudgetService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="supprimerOpt">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="supprimerOpt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="supprimerOptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerCats">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listerCats">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerCatsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chercherOpt">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="chercherOpt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chercherOptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenirDroit">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="obtenirDroit">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="obtenirDroitResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerOpt">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerOpt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerOptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerOpts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listerOpts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerOptsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifierOpt">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="modifierOpt">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="modifierOptResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creerPartage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creerPartage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerPartageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="chercherCat">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="chercherCat">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="chercherCatResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerPartage">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listerPartage">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerPartageResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listerDroits">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listerDroits">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerDroitsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BudgetServiceService">
    <wsdl:port binding="tns:BudgetServiceServiceSoapBinding" name="BudgetServicePort">
      <soap:address location="http://localhost:8080/GestionDeBudget_Webservice/BudgetService/IBudgerService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>