web/WEB-INF/wsdl/localhost_8080/GestionDeBudget_Webservice/CalculService/ICalculService.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions name="CalculServiceService" targetNamespace="http://budget.service/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://budget.service/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <wsdl:types>
<xs:schema elementFormDefault="unqualified" targetNamespace="http://budget.service/" version="1.0" xmlns:tns="http://budget.service/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<xs:element name="add" type="tns:add"/>
<xs:element name="addResponse" type="tns:addResponse"/>
<xs:element name="creer" type="tns:creer"/>
<xs:element name="creerResponse" type="tns:creerResponse"/>
<xs:element name="listerOpts" type="tns:listerOpts"/>
<xs:element name="listerOptsResponse" type="tns:listerOptsResponse"/>
<xs:complexType name="listerOpts">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="listerOptsResponse">
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="return" type="xs:anyType"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creer">
<xs:sequence>
<xs:element minOccurs="0" name="arg0" type="xs:string"/>
<xs:element name="arg1" type="xs:int"/>
<xs:element name="arg2" type="xs:double"/>
<xs:element name="arg3" type="xs:double"/>
<xs:element minOccurs="0" name="arg4" type="xs:dateTime"/>
<xs:element minOccurs="0" name="arg5" type="xs:string"/>
<xs:element minOccurs="0" name="arg6" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="creerResponse">
<xs:sequence>
<xs:element minOccurs="0" name="return" type="tns:operationDetail"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="operationDetail">
<xs:sequence>
<xs:element minOccurs="0" name="categorie" type="xs:int"/>
<xs:element minOccurs="0" name="commentaire" type="xs:string"/>
<xs:element minOccurs="0" name="dateOp" type="xs:dateTime"/>
<xs:element minOccurs="0" name="id" type="xs:int"/>
<xs:element minOccurs="0" name="label" type="xs:string"/>
<xs:element minOccurs="0" name="montant" type="xs:double"/>
<xs:element minOccurs="0" name="montantPrevu" type="xs:double"/>
<xs:element name="opType" type="xs:int"/>
<xs:element minOccurs="0" name="username" type="xs:string"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="add">
<xs:sequence>
<xs:element name="arg0" type="xs:int"/>
<xs:element name="arg1" type="xs:int"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="addResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
  </wsdl:types>
  <wsdl:message name="creer">
    <wsdl:part element="tns:creer" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerOpts">
    <wsdl:part element="tns:listerOpts" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="listerOptsResponse">
    <wsdl:part element="tns:listerOptsResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="addResponse">
    <wsdl:part element="tns:addResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="creerResponse">
    <wsdl:part element="tns:creerResponse" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="add">
    <wsdl:part element="tns:add" name="parameters">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ICalculService">
    <wsdl:operation name="listerOpts">
      <wsdl:input message="tns:listerOpts" name="listerOpts">
    </wsdl:input>
      <wsdl:output message="tns:listerOptsResponse" name="listerOptsResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creer">
      <wsdl:input message="tns:creer" name="creer">
    </wsdl:input>
      <wsdl:output message="tns:creerResponse" name="creerResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <wsdl:input message="tns:add" name="add">
    </wsdl:input>
      <wsdl:output message="tns:addResponse" name="addResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculServiceServiceSoapBinding" type="tns:ICalculService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="listerOpts">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="listerOpts">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="listerOptsResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="creer">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="creer">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="creerResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="add">
      <soap:operation soapAction="" style="document"/>
      <wsdl:input name="add">
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="addResponse">
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculServiceService">
    <wsdl:port binding="tns:CalculServiceServiceSoapBinding" name="CalculServicePort">
      <soap:address location="http://localhost:8080/GestionDeBudget_Webservice/CalculService/ICalculService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>