src/conf/xml-resources/web-service-references/Utilisateur/wsdl/localhost_8080/GestionDeBudget_Webservice/Utilisateur.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://aut.service/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://aut.service/" name="Utilisateur">
<types>
<xsd:schema>
<xsd:import namespace="http://aut.service/" schemaLocation="http://localhost:8080/GestionDeBudget_Webservice/Utilisateur?xsd=1"/>
</xsd:schema>
</types>
<message name="sInscrire">
<part name="parameters" element="tns:sInscrire"/>
</message>
<message name="sInscrireResponse">
<part name="parameters" element="tns:sInscrireResponse"/>
</message>
<message name="listerUtilisateurs">
<part name="parameters" element="tns:listerUtilisateurs"/>
</message>
<message name="listerUtilisateursResponse">
<part name="parameters" element="tns:listerUtilisateursResponse"/>
</message>
<message name="seConnecter">
<part name="parameters" element="tns:seConnecter"/>
</message>
<message name="seConnecterResponse">
<part name="parameters" element="tns:seConnecterResponse"/>
</message>
<message name="listerRoles">
<part name="parameters" element="tns:listerRoles"/>
</message>
<message name="listerRolesResponse">
<part name="parameters" element="tns:listerRolesResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Utilisateur">
<operation name="sInscrire">
<input wsam:Action="http://aut.service/Utilisateur/sInscrireRequest" message="tns:sInscrire"/>
<output wsam:Action="http://aut.service/Utilisateur/sInscrireResponse" message="tns:sInscrireResponse"/>
</operation>
<operation name="listerUtilisateurs">
<input wsam:Action="http://aut.service/Utilisateur/listerUtilisateursRequest" message="tns:listerUtilisateurs"/>
<output wsam:Action="http://aut.service/Utilisateur/listerUtilisateursResponse" message="tns:listerUtilisateursResponse"/>
</operation>
<operation name="seConnecter">
<input wsam:Action="http://aut.service/Utilisateur/seConnecterRequest" message="tns:seConnecter"/>
<output wsam:Action="http://aut.service/Utilisateur/seConnecterResponse" message="tns:seConnecterResponse"/>
</operation>
<operation name="listerRoles">
<input wsam:Action="http://aut.service/Utilisateur/listerRolesRequest" message="tns:listerRoles"/>
<output wsam:Action="http://aut.service/Utilisateur/listerRolesResponse" message="tns:listerRolesResponse"/>
</operation>
<operation name="hello">
<input wsam:Action="http://aut.service/Utilisateur/helloRequest" message="tns:hello"/>
<output wsam:Action="http://aut.service/Utilisateur/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="UtilisateurPortBinding" type="tns:Utilisateur">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="sInscrire">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerUtilisateurs">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="seConnecter">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="listerRoles">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Utilisateur">
<port name="UtilisateurPort" binding="tns:UtilisateurPortBinding">
<soap:address location="http://localhost:8080/GestionDeBudget_Webservice/Utilisateur"/>
</port>
</service>
</definitions>